<div class="card">
<div class="card-header gb-info">
    {{pageTitle}}
</div>
<div class='card-body'>
    <div class='row'>
        <div class='col-md-12'>
            <h1>FAQ</h1>
            <div class='row border-bottom'>
                <div class='col-md-8'>Q. What products do you offer?</div>
                <div class='col-md-12'>ANS. We offer range of products. Please check our product page for more information.</div>
            </div>
            <div class='row mt-4 border-bottom'>
                <div class='col-md-8'>Q. Can we sell goods?</div>
                <div class='col-md-12'>ANS. Of course. You need to register with us and go through quality training as part of registration process.</div>
            </div>

            <div class='row mt-4 border-bottom'>
                <div class='col-md-8'>Q. How long will it take for goods delivery?</div>
                <div class='col-md-12'>ANS. We take pride in our One day delivery scheme.</div>
            </div>

            <div class='row mt-4 border-bottom'>
                <div class='col-md-8'>Q. My product was in bad condition. What can I do?</div>
                <div class='col-md-12'>ANS. Please call us on 1000-56-456. One of our executive will fix your problem</div>
            </div>

            <div class='row mt-4'>
                <div class='col-md-8'>Q. Is there a return policy</div>
                <div class='col-md-12'>ANS. You can return your product within 48 hours of delivery, provided, it is in it's original packaging.</div>
            </div>

        </div>
    </div>
</div>
</div>