.nav-link {
  font-size: large;
}

/* nav{
  float: right;
} */

/* nav li {
  display: inline-block;
  margin-left: 70px;
  padding-bottom:15px;
} */

.logo {
  float: left;
  margin-top: 10px;
  margin-right:  4px;

}
.header {
  background: #2c423f;
}

.navbar-brand{
  color: white;
  border: white solid 1px;
  border-radius: 5px;
  border-left: 3px;
  border-right: 3px;
  font-family: fantasy;
}




/* .container {
  position: absolute;
}  */
