<div class="card">
    <div class="card-header gb-info">
        <div class="text-center">
            <!-- <img src="./assets/images/logo.GIF"
                 class="img-responsive center-block"
                 style="max-height:200px;padding-bottom:50px" /> -->
        </div>
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <section>
                <article>
                    <p>People of India realising the importance of sports and fitness.
                        Parents are encouraging their children to pursue sports as career more and more and as a result there are a lot of sports academies opening up everywhere and creating the necessary infrastructure which is required to improve the necessary skills and become a professional. 
                        There are variety of sports academies available where I am from and also from major cities in India, that covers most of the sports such as, Cricket, Badminton, Tennis, Basketball ball, swimming, football and gym etc. 
                    </p>
                    <p>
                        Since there are lot of academies available, people often struggle to find the one which is suitable for them either by proximity, prize, infrastructure or better coaching staff. People find these academies either by google, references, ads or suggestions which is an inconvenience for both businesses and customers. 
                    </p>
                </article>
            </section>




            <!-- <div class="text-center">Developed by:</div>
            <div class="text-center">
                <h3>Sumanth</h3>
                <h2></h2>
            </div> -->
        </div>
    </div>
</div>