<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.GIF"
             class="img-responsive center-block"
             style="max-height:500px;padding-bottom:50px" />
      </div>

      <!-- <div class="text-center">Developed by:</div> -->
      <div class="text-center">
        <h3>Welcome</h3>
        <p>Welcome to My-academy. Here you can look for range of products, search the products and and 
          add them to cart and place order.</p>
        <h2></h2>
      </div>
    </div>
  </div>
</div>
